
<table class = "table table-striped table-hover">
  <thead>
  <tr>
    <th>Comment</th>
    <th>Status</th>

    <th colspan="2"> </th>
  </tr>
  </thead>
  <tbody>
  <% @comments.each do |comment| %>
    <tr>
      <td> <%= comment.comment %></td>
      <td> <%= comment.status %></td>
      <td> <%= link_to 'Edit', edit_admin_article_comment_path(comment) %></td>
      <td> <%= link_to 'Destroy', admin_article_comment_path(comment), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      <td><% if comment.status ==  "published" %>
          <%= link_to "Unpublish", admin_article_comment_path(comment), method: :put, data: { confirm: "You sure?"} %>
        <% end %>
        <% if comment.status ==  "unpublished" %>
          <%= link_to "Publish", admin_article_comment_path(comment), method: :put, data: {confirm: "You sure?"}%>
        <% end %>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>