<%= render 'shared/errors', obj: @comment %>
<div class="row">
  <div class="col-xs-12">
    <%= form_for([:admin,@article,@comment], :html => {class: "form-horizontal", role: "form"}) do |f| %>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= f.label :comment %>
        </div>
        <div class="col-sm-6">
          <%= f.text_area :comment, rows: 5, class: "form-control", placeholder: "Comment" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <%= f.submit class: 'btn btn-primary btn-large' %>
        </div>
      </div>
    <% end %>
  </div>
</div>