<h2 align="center">Title: <%= @article.title %></h2>
<h4 class="article-title center" ><%= link_to @article.user.username, admin_user_path(@article.user) %></h4>
<h4 class="center"><strong>Description:</strong></h4>
<hr>
<h5 class="center"><%= @article.description%></h5>
  <ul>
    <%= render partial: 'admin/comments/form'%>
    <%= render partial: 'admin/comments/comment'%>
  </ul>


</div>