<h2 align="center">Title: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <% if @article.user %>
    <ul class="listing">
      <div class="row" align="center">
        <div class="col-md-4 col-md-offset-4">
          <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
          <li class="article-title"><%= link_to @article.user.username, user_path(@article.user) %></li>
          <li><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
        </div>
      </div>
    </ul>
  <% end %>
  <div class="article-actions">
    <% if current_user && current_user.id == @article.user_id %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "Back", articles_path, class: "btn btn-xs btn-success" %>
  </div>
  <h4 class="left"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <ul>
    <%= render partial: 'comments/form'%>
    <%= render partial: 'comments/comment'%>
  </ul>


</div>