<h1 align="center">Manage Users</h1>
<%= link_to 'Create User', new_admin_user_path %>
<table class = "table table-striped table-hover">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>

    <th colspan="2"> </th>
  </tr>
  </thead>
  <tbody>
  <% @user.each do |user| %>
    <tr>
      <td> <%= user.username %></td>
      <td> <%= user.email %></td>
      <td> <%= user.role %></td>
      <td> <%= link_to 'Show', admin_user_path(user)%></td>
      <td> <%= link_to 'Edit', edit_admin_user_path(user) %></td>
      <td> <%= link_to 'Destroy', admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  </tbody>
</table>