<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <% if current_user && current_user.role == "admin" %>
      <%= link_to " ADMIN PANEL", admin_dashboard_index_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", admin_dashboard_index_path %></li>
          <li><%= link_to "Manage Articles", admin_articles_path %></li>
          <li><%= link_to "Manage Users", admin_users_path %></li>
          <% if logged_in?  %>
            <li><%= link_to "Log out", logout_path ,method: :delete%></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
        </ul>
      </nav>
    <% elsif (current_user && current_user.role !="admin") || !current_user %>
    <%= link_to "BLOG", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Articles", articles_path %></li>
        <li><%= link_to "About", about_path %></li>
        <% if logged_in?  %>
           <li><%= link_to "Log out", logout_path ,method: :delete%></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>

      </ul>
    </nav>
    <% end %>
  </div>
</header>